.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.calculator {
 
  max-width: 300px;
  
  background-color: #383737;
  border-radius: 6px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
  
}

.display {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  text-align: right;
  max-width: 260px;
  word-break:break-all;
  
}

.keypad {
  max-width: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3px;
}

button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
}

.highlight {
  background-color: #8edbfc;
  color: #181515;
}
.high {
  background-color: #fe6a2b;
  color: #181515;
}
.light {
  background-color: #33ed3f;
  color: #181515;
}


.digit {
  display: inline-block;
}

.blinker {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#backspace {
  grid-column: 1/span 4;
  
  
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
